@import url("https://db.onlinewebfonts.com/c/445ccef3bbf37f44af705673c9f24d11?family=Agrandir+Grand+Light");
@import url("https://db.onlinewebfonts.com/c/adec4d42fc6c6391a3b0f391c45f7a64?family=Beatrice");
@import url(https://db.onlinewebfonts.com/c/73e0fc96eb73ae25fd95435dd694cbb5?family=Aileron+Bold);
@import url(https://db.onlinewebfonts.com/c/4366ceae6f7564999a0f0c3e8698a4ad?family=Neue+Montreal);

@import url(https://db.onlinewebfonts.com/c/eccf30d3af8a69bf0b97f01c6d46b8e2?family=Agrandir+Grand+Heavy);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --color-primary: #e4e6e3;

  --color-secondary: #e6865a;

  --color-bg: #212121;
  --color-font: #222222;
  --color-white: #ffffff;
}

body {
  background-color: var(--color-white);
  /* font-family: "Agrandir Grand Light", sans-serif; */
  font-family: "Beatrice", sans-serif;

  /* font-family: "Aileron Bold", sans-serif; */
  /* font-family: "Neue Montreal", sans-serif; */
}

#video {
  position: absolute;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: 1;
}
