.about {
  margin: 100px 160px 100px 160px;
}

.about-title {
  font-size: 1.5rem;
  font-weight: 900;
  color: var(--color-font);

  /* background-image: linear-gradient(to right, #ffa08b, #b46aff); */
  /* background: linear-gradient(
    260deg,
    rgba(194, 131, 72, 0.5) 30%,
    #f8dcd0 40%,
    #e6865a 50%,
    #f7bb9f 75%
  ); */

  /* -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text; */
  font-style: italic;
  letter-spacing: 1px;
}

.about-text {
  font-size: 1.5rem;
  /* color: var(--color-font); */
  text-indent: 12%;
  line-height: 1.6;
  margin: 45px 0;
}

.about-text-span {
  display: block;
  text-indent: 0%;
  margin-top: 25px;
  color: var(--color-font);
}

.about-text .strong-text {
  font-size: 1.4rem;
  /* background-image: radial-gradient(circle at 80% 0, #fcd3ca, #e6865a 50%); */
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  color: var(--color-font);
  background-color: var(--color-primary);
  padding: 3px;
  font-weight: 800;
  font-family: "Beatrice bold", sans-serif;
}
