.education {
  margin: 100px;
}

.education-title {
  font-size: 2rem;
  text-transform: capitalize;
  color: var(--color-font);
  text-align: center;
  margin-bottom: 25px;
  font-weight: 800;
}

.education-row {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.education-content {
  margin: 20px 0;
  /* border: 1px solid var(--color-font); */
  background-color: #f4f4f4;
  padding: 20px 30px;
  border-radius: 30px;
  width: 100%;
}

.education-content-title {
  display: flex;
  align-items: center;
  gap: 20px;
}

.graduate-icon {
  font-size: 3.2rem;
  color: var(--color-primary);
}

.education-content h3 {
  font-size: 1.15rem;
  color: var(--color-font);
  margin-bottom: 10px;
  padding-top: 10px;
}

.education-content p {
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  padding-left: 70px;
  margin-top: 8px;

  line-height: 1.7;
}

/*  Marquee */

.marquee {
  display: flex;
  margin-top: 20px;
  padding: 10px 0 0 12px;
}

.rfm-marquee-container {
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgb(0, 0, 0) 8%,
    rgb(0, 0, 0) 90.5%,
    rgba(0, 0, 0, 0) 100%
  );
  overflow: hidden;
}

.marquee h3 {
  font-size: 1rem;
  padding-right: 20px;
  color: var(--color-font);
}

.marquee-skill {
  font-size: 0.78rem;
  margin: 0 15px;
  padding: 5px 30px;
  color: var(--color-font);
  /* background-color: #ce796496; */
  background-color: #ffffff;
  box-shadow: 0 1px 6px rgba(94, 94, 94, 0.3);
  font-weight: 500 !important;
  border-radius: 30px;
  text-transform: uppercase;
}

/* Resume Button */

.btn-container {
  width: 300px;
  display: flex;
  justify-content: center;
}

.button {
  position: relative;
  width: 100%;
  height: 46px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-bg);
  /* background-image: linear-gradient(135deg, #212121 -20%, #353535 120%); */
  border: none;
  border-radius: 30px;
  margin-top: 25px;
  overflow: hidden;
}

.button,
.button__icon,
.button__text {
  transition: all 0.3s;
}

.button .button__text {
  transform: translateX(-16px);
  color: var(--color-white);
  font-size: 0.92rem;
  font-weight: 800;
  font-family: "Beatrice";
  letter-spacing: 1.4px;
}

.button .button__icon {
  position: absolute;
  transform: translateX(80px);
  height: 100%;
  width: 39px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button .svg {
  width: 20px;
  fill: var(--color-white);
}

.button:hover .svg {
  fill: var(--color-white);
}

.button:hover {
  background: var(--color-secondary);
}

.button:hover .button__text {
  color: transparent;
}

.button:hover .button__icon {
  width: 148px;
  transform: translateX(0);
}

.button:active .button__icon {
  background-color: var(--color-font);
}

.button:active {
  border: 1px solid var(--color-font);
}

@media screen and (max-width: 1000px) {
  .education {
    margin: 100px 50px;
  }
}

@media screen and (max-width: 600px) {
  .education {
    margin: 70px 20px;
  }

  .education-content {
    padding: 20px 20px;
  }
}
