.hero {
  position: relative;
  padding-top: 14vh;
  display: flex;

  padding-left: 80px;
  align-items: center;
  height: 100vh;
  width: 100%;
  /* background-image: url(../assets/images/project.jpg);
  background-size: cover; */
  background-color: var(--color-primary);
  overflow: hidden;
}

.hero-layer {
  position: absolute;
  background-image: url(../assets/images/layer.png);
  width: 100%;
  height: 100vh;
  mix-blend-mode: exclusion;
  z-index: 9000;
  opacity: 0.09;
  pointer-events: none;
  background-position: 0 0;
  inset: 0% auto auto 0%;
}

/* .hero-span p {
  font-size: 1.4rem;
  font-style: italic;
  font-family: "Agrandir Grand Light", sans-serif;
  font-weight: 800;
  text-transform: capitalize;
  letter-spacing: 2px;
  line-height: 1.5;
  color: var(--color-white);
} */

.hero-container h1 {
  font-size: 7.5rem;
  font-weight: 900;
  line-height: 0.95;
  text-transform: uppercase;
  color: var(--color-white);
  /* font-family: "Clash Display", sans-serif; */
  font-family: "Beatrice Bold", sans-serif;
}

.text-stroke {
  font-size: 7.5rem;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: var(--color-font) !important;
  /* font-family: "Neue Montreal", sans-serif !important; */
  /* font-family: "Clash Display", sans-serif; */
  font-family: "Beatrice Bold", sans-serif;
  -webkit-text-stroke-width: 3px !important;
  -webkit-text-stroke-color: var(--color-white) !important;
}

.hero-text-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}

.hero-contact-info {
  position: absolute;
  right: 2%;

  font-size: 1rem;
  margin-right: 85px;
  color: var(--color-white);
}

.hero-text {
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  letter-spacing: 1px;
  margin-top: 25px;
  border: 1px solid var(--color-white);
  border-radius: 30px;
  padding: 16px 40px;
  color: var(--color-white);
}

@media screen and (max-width: 1050px) {
  .hero-contact-info {
    right: -2%;
  }
}

@media screen and (max-width: 1000px) {
  .hero {
    padding-left: 50px;
  }

  .hero-contact-info {
    display: none;
  }

  .hero-container h1 {
    font-size: 5.5rem;
  }

  .text-stroke {
    font-size: 5.5rem;
  }

  .hero-text-row {
    gap: 0px;
  }
}

@media screen and (max-width: 768px) {
  .hero {
    align-items: flex-end;
  }

  .hero-container {
    padding-bottom: 50px;
  }

  .hero-text {
    padding: 16px 20px;
  }
}

@media screen and (max-width: 660px) {
  .hero {
    padding-left: 0px;
    height: 600px;
  }

  .hero-layer {
    height: 650px;
  }

  .hero-container {
    padding-bottom: 70px;
    padding-left: 15px;
  }

  .hero-container h1 {
    font-size: 4.5rem;
    line-height: 1.08;
  }

  .text-stroke {
    font-size: 4.5rem;
    -webkit-text-stroke-width: 1px !important;
  }

  .hero-text {
    font-size: 1rem;
    border: none;
    text-align: start;
    margin-top: 20px;
    line-height: 2;
    padding: 0px 5px;
  }

  .hero-text-row {
    display: block;
  }
}

@media screen and (max-width: 500px) {
  .hero-container h1 {
    font-size: 3.3rem;
  }

  .text-stroke {
    font-size: 3.4rem;
  }

  .hero-text {
    padding: 0px 7px;
  }
}
