.navbar-container {
  position: fixed;
  top: 2%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  margin: 0 50px;
  border-radius: 50px;
  backdrop-filter: blur(8px);
  background-color: rgb(244, 244, 244, 0.1);
  color: var(--color-white);
  opacity: 1;
  z-index: 999;
}

.navbar-bg {
  backdrop-filter: blur(10px);
  background-color: rgba(172, 172, 172, 0.1);
}

.navbar-bg li {
  color: var(--color-font) !important;
}

.navbar-bg .logo {
  font-size: 1.3rem;
  color: var(--color-font) !important;
}

.logo {
  font-size: 1.35rem;

  font-weight: 800;
  text-transform: uppercase;
}

.navbar-list li {
  display: inline-block;
  margin-left: 35px;
  font-size: 0.95rem;
  color: var(--color-white);
  font-weight: 500;
  text-transform: uppercase;
}

.resume-download {
  background-color: var(--color-white);
  padding: 9px 23px;
  border-radius: 30px;
  font-size: 0.91rem !important;
  color: var(--color-font) !important;
  cursor: pointer;
}

.navbar-bg .resume-download {
  background-color: var(--color-primary);
  color: var(--color-white) !important;
}
