.navbar-container {
  position: fixed;
  top: 2%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 30px;
  margin: 0 50px;
  border-radius: 50px;
  backdrop-filter: blur(8px);
  background-color: rgba(23, 24, 43, 0.1);
  color: var(--color-font);
  opacity: 1;
  z-index: 999;
}

.navbar-bg {
  backdrop-filter: blur(10px);
  background-color: rgba(172, 172, 172, 0.1);
}

.navbar-bg li {
  color: var(--color-font) !important;
  /* font-weight: 800; */
}

.navbar-bg .logo {
  font-size: 1.3rem;
  color: var(--color-font) !important;
  /* font-weight: 800; */
}

.logo {
  font-size: 1.3rem;

  font-weight: 800;
  text-transform: uppercase;
}

.navbar-list li {
  display: inline-block;
  margin-left: 35px;
  font-size: 0.95rem;
  color: var(--color-font);
  font-weight: 800;
}
